{% extends '@Admin/layout.html.twig' %}

{% form_theme form '@Admin/form_theme.html.twig' %}

{% block title %}{{ 'navigation.billing.billing'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ 'navigation.billing.billing'|trans }}</li>
{% endblock %}

{% block content %}
   {{ form_start(form) }}
       {% for field in form %}
          {{ form_row(field) }}
       {% endfor %}

       {# buttons #}
       <div class="buttons col-md-offset-3 m-t-10">
          <button type="submit" class="btn btn-warning m-r-10">{{ 'verb.submit'|trans }}</button>
          <a href="{{ path('admin_dashboard') }}" class="btn btn-info">{{ 'navigation.back_to_dashboard'|trans }}</a>
       </div>
   {{ form_end(form) }}

{% endblock content %}
