{% extends '@Admin/layout.html.twig' %}

{% form_theme form '@Admin/form_theme.html.twig' %}

{% block title %}{{ 'navigation.manage'|trans }} {{ 'navigation.document.document'|trans }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_agent_document_index', {'agent': agent.id}) }}">{{ 'labels.documents'|trans }}</a></li>
    <li class="active">{{ 'navigation.manage'|trans }} {{ 'navigation.document.document'|trans }}</li>
{% endblock %}

{% block content %}
    {% if not isNew %}
        {{ include('@Admin/Agent/helpers/menu.html.twig') }}
    {% endif %}
    {{ form_start(form) }}
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}

        {# buttons #}
        <div class="buttons col-md-offset-3 m-t-10">
            <button type="submit" class="btn btn-warning m-r-10">{{ 'verb.submit'|trans }}</button>
            <a href="{{ path('admin_agent_document_index', {'agent': agent.id}) }}" class="btn btn-info">{{ 'navigation.back_to_list'|trans }}</a>
        </div>
    {{ form_end(form) }}

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        var document_expiration_date = $('.document-expiration-date');
        var red_star = document_expiration_date.closest('.form-group').find('.text-danger');

        $('.document-option').on('change', function () {
            var expiration_date_required = $(this).find('[value="'+$(this).val()+'"]').attr('expiration-date-required') === 'expiration-date-required';

            if (expiration_date_required) {
                red_star.show();
                document_expiration_date.attr('required', 'required');
            } else {
                red_star.hide();
                document_expiration_date.removeAttr('required');
            }
        }).trigger('change');

    </script>
{% endblock %}
