{% extends '@Admin/layout.html.twig' %}

{% block title %}{{ 'navigation.team_member.invite'|trans }} in "{{ team.title }}" {{ 'navigation.team.team'|trans }}{% endblock %}

{% form_theme form "@Admin/form_theme.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_agent_team_index') }}">{{ 'navigation.team.teams'|trans }}</a></li>
    <li><a href="{{ path('admin_agent_team_edit', {'team': team.id }) }}">{{ 'navigation.manage'|trans }} {{ 'navigation.team.team'|trans }}</a></li>
    <li><a href="{{ path('admin_agent_team_member_index', {'team': team.id }) }}">{{ 'navigation.team_member.members'|trans }}</a></li>
    <li class="active">{{ 'navigation.team_member.invite'|trans }}</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {% for field in form %}
        {{ form_row(field) }}
    {% endfor %}

    {# buttons #}
    <div class="buttons col-md-offset-3 m-t-10">
        <button type="submit" class="btn btn-warning m-r-10">{{ 'verb.submit'|trans }}</button>
        <a href="{{ path('admin_agent_team_member_index', {'team' : team.id}) }}" class="btn btn-info">{{ 'navigation.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}